body{

    background-color: rgb(0, 217, 255);
}
.picole {

    width: 300%;
    padding-left: 600px;
    display: block;

}

.picole2 {

    width: 620px;
}
.title {

    text-align: center;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(0, 0, 0, 0.082);


}
.btn{
padding: 10px 8px;
width: 50px;
color: #fff;
background: #209915;
border: 1px solid #555;
border-radius: 5px;
text-align: center;
user-select: none;
cursor: pointer;
}
.btn:hover{
    background: #148b0a;
    transition: 1s;
}
